.id_input:focus {
    outline: none;
}
.pwd_input:focus {
    outline: none;
}

.info_wrap {
    display: block;
    background-color: #fff;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 300px) {
    .info_wrap {
        margin-bottom: 0;
        padding: 39px 0 46px 0;
    }
}


@media (min-width: 300px) {
    .inp_wrap {
        border: 1px solid rgba(0, 0, 0, 0.08);
        padding: 8px 14px 8px 16px;
    }
}
.inp_wrap {
    position: relative;
    height: 48px;
    border-radius: 4px;
}

.id_input {
    margin : 5px 25px 25px 0px;
    font-size: 18px;
    width: 100%;
    color: rgba(0, 0, 0, 0.56);
}

.pwd_input {
    margin-top: 5px;
    font-size: 18px;
    width: 100%;
    color: rgba(0, 0, 0, 0.56);
}
.phone_block {
    position: relative;
    width: 50%;
}

.email_block {
    position: relative;
    margin-top: 45px;
    width: 50%;
}