body { /*페이지 전체에 영향 주는 body element*/
    background-color: #333;
    color: #f4f4f4;
}

header {
    background-color: white;
    color: #333;
    width : 100px
}

a {
    color: azure;
}

#title {
    font-size: 60px;
    color: aquamarine;
}

.index {
    font-size: 30px;
    color: rgb(255, 127, 200);
}

.intro {
    color: aqua;
}

.earth-title {
    font-size: 60px;
    color: black;
}

#mars-title {
    font-size: 60px;
    color: lightsalmon;
}